<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Book Stack</title>

    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
   
</head>
<body>
        <header> 
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="/" class="navbar-brand mb-0 h1 ">BookStack</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            
                            <% for(var i = 0; i < nav.length; i++){%>
                              <li class="nav-item <% if(nav[i].title === 'Books'){ %>active<% } %>">
                                  <a class="nav-link" href='<%=nav[i].link %>'><%= nav[i].title%></a>
                                </li>
                           <% } %>
                          
                        </ul>
                        
                      </div>
            </nav>
        </header>
        <div id="content-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div  class="col-md-10">
                        <h1 class="text-white">Book Collections</h1>
                        <div class="collections">
                            
                                  
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="media">
                                        <img src="<%=imagePath%><%=book.Image%>" class=" img-book" alt="APj" width="150px" >
                                        <div class="media-body">
                                            <h1 class="mt-0"><%=book.Title%></h1>
                                            <h5> <span class="label label-default"><%=book.Author %></span><strong><span class="badge badge-secondary"><%=book.Genre%> </span></strong></h5>
                                            <%=book.Description %>  <br><br>
                                            <h5>
                                                <small><a href="./" class="text-muted">Back</a></small>
                                                </h5>
                                        </div>
                                    </div>
                                 </div>
                                
                              
                        </div>
                      </div>
                  </div>
              </div>
              
          </div>
          <footer class="page-footer font-small black bg-dark">
      
                  <!-- Copyright -->
                  <div class="footer-copyright text-center py-3 text-light">© 2018 Copyright :
                      <a href="#" class="mb-0 navbar-brand">BookStack.com</a>
                  </div>
                  <!-- Copyright -->
                  
                  </footer>
                  <!-- Footer -->
          
              
          </body>
          </html>