<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Book Stack</title>

    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        function validateForm(){
         let elements = document.forms["updateAuthor"].elements;          
          for(let i = 0; i < elements.length; i++){
            if(elements[i].value.trim() == "" && elements[i].name != "imageFile" && elements[i].name != "imageFile")
            {
              alert("Feilds should not be empty");
              elements[i].select();
              return false;
            }
          }
        } 
      </script>
	</head>
	<body>
      <header> 
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a href="/" class="navbar-brand mb-0 h1 ">BookStack</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                          
                          <% for(var i = 0; i < nav.length; i++){%>
                            <li class="nav-item <% if(nav[i].title === 'AddAuthor'){ %>active<% } %>">
                                <a class="nav-link" href='<%=nav[i].link %>'><%= nav[i].title%></a>
                              </li>
                         <% } %>
                        
                      </ul>
                      
                    </div>
          </nav>
      </header>

      <div id="content-container">
          <div class="container-reg">
              <h1>Add Author</h1>
              <form name="updateAuthor" id="regForm" action="/authors/updateAuthor" method="POST" onsubmit="return validateForm()" >
                  <table cellpadding="10" cellspacing="0">
                      <tr>
                          <td><label for="title"> Author: </label><span class="required-star">*</span></td>
                          <td><input type="text" name="name" value="<%=author.Name%>" id="" placeholder="Author" required></td>
                      </tr>
                      <tr>
                          <td>Book: <span class="required-star">*</span></td>
                          <td>
                              <input type="text" name="books" value="<%=author.Books%>" placeholder="Book name" required>
                          </td>
                      </tr>
                      <tr>
                          <td>Award:<span class="required-star">*</span></td>
                          <td><input type="text" name="awards"  value="<%=author.Awards%>" placeholder="Award" required></td>
                      </tr>
                      <tr>
                        <td>Description:<span class="required-star">*</span></td>
                        <td><textarea name="description" id="" cols="60" rows="6" placeholder="Description" required> <%=author.Description%></textarea></td>
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td><img src="<%=imagePath%><%=author.Image%>" alt="<%=author.Title%>" width="100" class="img-book-edit"></td>
                    </tr>
                      <!--<tr>
                          <td>Image:<span class="required-star">*</span></td>
                          <td><input type="file" name="file" id="" accept="image/*" disabled><br></td>
                      </tr>-->
                      
                     
                      
                      <tr><td></td><td><input type="submit" name="" id="submit" value="Update" class="btn btn-info" ></td></tr>
                      <tr><input type="hidden" name="_id" value="<%=author._id%>"></tr>
                    <tr><input type="hidden" name="image" value="<%=author.Image%>"></tr>
                  </table>
          
  
              </form>
          </div>
      </div>

  <!-- Footer -->
  <footer class="page-footer font-small black bg-dark">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-light">© 2018 Copyright :
        <a href="#" class="mb-0 navbar-brand">BookStack.com</a>
      </div>
      <!-- Copyright -->
    
    </footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>